#version: "3.8"

services:
  free5gc-amf:
    container_name: amf
    build:
      context: ./nf_amf
      args:
        DEBUG_TOOLS: "false"
    command: ./amf -c ./config/amfcfg.yaml
    expose:
      - "8000"
      - "38412"
    volumes:
      - ./config/amfcfg.yaml:/free5gc/config/amfcfg.yaml
      - ./cert:/free5gc/cert
    environment:
      GIN_MODE: release
    ports:
     - "38412:38412"
     - "8000:8000"
    networks:
#      privnet:
      macvlan_net:
#        ipv4_address: 10.100.201.16
        ipv4_address: 172.18.0.20
        mac_address: f2:ff:cb:34:07:b5
        aliases:
          - amf.free5gc.org
    extra_hosts:
      - "nrf.free5gc.org:172.18.0.51"
      - "udr.free5gc.org:172.18.0.56"
      - "pcf.free5gc.org:172.18.0.54"
      - "ausf.free5gc.org:172.18.0.52"
      - "udm.free5gc.org:172.18.0.55"
      - "nssf.free5gc.org:172.18.0.53"
      - "smf.free5gc.org:172.18.0.22"
      - "upf.free5gc.org:172.18.0.24"
      - "gnb.free5gc.org:172.18.10.3"
networks:
  macvlan_net:
   external: true
